:host {
    .btn {
        &.btn-next {
            background: linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
            border-radius: 35px;
            box-shadow: 0 3px 6px #00000029;
            font-family: gilroybold, Arial, sans-serif;
            height: 48px;
            min-width: 260px;
            color: #fff;
            padding: 0 24px;
            font-size: 16px;
            font-weight: 500;
            border: 0;
            letter-spacing: .35px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    ::ng-deep {
        .p-button {
            &.btn-retour {
                background-color: transparent !important;
                border-radius: 15px;
                color: #003250;
                .pi-angle-left {
                    color: #003250;
                }
                &:focus{
                    box-shadow: unset;
                }

            }
            &.btn-next {
                background: linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
                border-radius: 35px;
                box-shadow: 0 3px 6px #00000029;
                font-family: gilroybold, Arial, sans-serif;
                height: 48px;
                min-width: 260px;
                color: #fff;
                padding: 0 24px;
                font-size: 16px;
                font-weight: 500;
                border: 0;
                letter-spacing: .35px;
                text-transform: uppercase;
                cursor: pointer;
                &.p-disabled{
                    background: #d6d6d6;
                    color: #fff;
                }
            }
        }
    }
}