<p-button label="Retour" icon="pi pi-arrow-left"
    styleClass="btn-retour mt-4 bg-white border-0 font-bold text-uppercase " *ngIf="btnUsed === 'btnRetour' && subStepName !== 'STEPONE_1' && stepName !== 'STEPTHREE'" (click)="backSteps()"></p-button>

<p-button label="Continuer" styleClass="btn-next mt-4 border-0 font-bold text-uppercase" *ngIf="btnUsed === 'btnContinuer'  && stepName !== 'STEPTHREE'" (click)="nextSteps()"
[disabled]="formValidate ? false: true"></p-button>