:host {
    .btn {

        &.btn-minus,
        &.btn-plus {
            content: "";
            width: 74px;
            display: block;
            height: 74px;
            background: #fff;
            cursor: pointer;
            // position: absolute;
            border-radius: 8px;
            box-shadow: 0 4px 20px #0032501a;

        }

        i {
            color: #003250;
            font-size: 2rem;
        }
       
    }
    .btn-check{
        position: relative;
        height: 25px;
        width: 30px;
        cursor: pointer;
        z-index: 2;
        left: 40%;
        top: 3%;
       /*  &::before{
            background-color: red;
        } */
        &.custom-control-input {
            border: solid 2px #003250;
            &:checked{
            background-color: #48d362;
            border: 0;
            }
        }
    }


    .count {
        max-width: 170px;
        border: 1px solid #bdc0c7;
        border-radius: 2px;
        display: block;
        height: 40px;
        margin: 0 0 35px;
        padding: 0 10px
    }

    .grid {
        .btn-group {
            .col-8 {
                padding: 30px 10px 10px;
                margin: 0 20px 10px 0;
            }
        }
    }

    .btn-radio-effy {
        background-color: #fff;
        border: solid 2px #fff;
        border-radius: 8px;
        /* display: flex; */
        cursor: pointer;
        box-shadow: 0 4px 20px #0032501a;
        padding: 30px 10px 10px;
        margin: 0 20px 10px 0;


        span {
            font-family: gilroybold, Helvetica, Arial, sans-serif;
            font-size: 18px;
            text-align: center;
            color: #003250;
            font-weight: 600;
        }
    }

}

.btn-check {
    &:checked {
        +.btn {
            border-color: #003250;
        }
    }
}