<form [formGroup]="projectInfoForm" class="from-lot" autocomplete="off">

    <div class="container" *ngIf="displayStepOne" @inOutAnimation>
        <div>
            <div class="title d-flex justify-content-center">
                Dans ce logement, vous êtes :
            </div>

        </div>

        <div class=" grid btn-group d-flex  justify-content-center w-100" role="group"
            aria-label="Basic radio toggle button group">
            <div class="col">
                <div class="container" style="margin-top:30px">
                    <div class="row d-flex justify-content-center align-item-center text-center">
                        <div class="col-sm-8 mb-5  d-flex  justify-content-center">
                            <input type="radio" class=" custom-control-input form-check-input btn-check float-left"
                                id="btnradiosituation1" autocomplete="off" formControlName="situation" name="situation"
                                value="proprietaire" [ngClass]="{ 'is-invalid': myProjectInfoForm.situation.errors && (myProjectInfoForm.situation.dirty ||
                                    myProjectInfoForm.situation.touched)}">
                            <label class="btn ml-2 btn-radio-effy" for="btnradiosituation1">
                                <img src="assets/images/proprietaire.PNG" class="rounded mx-auto d-block" alt="...">
                                <span>Propriétaire</span> </label>

                            <input type="radio" class="custom-control-input form-check-input btn-check"
                                id="btnradiosituation2" autocomplete="off" formControlName="situation" name="situation"
                                value="locataire" [ngClass]="{ 'is-invalid': myProjectInfoForm.personalNbr.errors && (myProjectInfoForm.personalNbr.dirty ||
                                myProjectInfoForm.situation.touched)}">
                            <label class="btn ml-2 btn-radio-effy" for="btnradiosituation2">
                                <img src="assets/images/locataire.PNG" class="rounded mx-auto d-block" alt="...">
                                <span>Locataire</span> </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="container" *ngIf="displayStepTwo" @inOutAnimation>
        <div>
            <div class="title d-flex justify-content-center">
                Combien de personnes composent votre foyer, vous compris ?
            </div>
            <div class=" label-color d-flex justify-content-center">
                Le montant de vos aides peut varier en fonction de la taille de votre ménage.
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <div class="container" style="margin-top:30px">
                    <div class="row d-flex justify-content-center align-item-center text-center">
                        <div class="col-sm-8 mb-5">
                            <div class="form-check-inline">
                                <button class="btn btn-minus" (click)="minusNbrOfPerson()"><i
                                        class="pi pi-minus"></i></button>
                            </div>
                            <div class="form-check-inline">
                                <input type="number" class="form-control count" formControlName="personalNbr" [ngClass]="{ 'is-invalid': myProjectInfoForm.personalNbr.errors && (myProjectInfoForm.personalNbr.dirty ||
                                myProjectInfoForm.personalNbr.touched)}">
                            </div>
                            <div class="form-check-inline">
                                <button class="btn btn-plus" (click)="plusNbrOfPerson()"><i class="pi pi-plus"
                                        style="font-size: 2rem"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="container" *ngIf="displayStepThree" @inOutAnimation>
        <div class="title d-flex justify-content-center">
            <label>
                Quelle est la surface habitable de votre logement ?
            </label>
        </div>

        <div class="grid justify-content-center">
            <div class="col-8">
                <div class="field">
                    <label for="surface" class="input-title">Surface en m²</label>
                    <input id="surface" type="number"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="surface" [ngClass]="{ 'is-invalid': myProjectInfoForm.surface.errors && (myProjectInfoForm.surface.dirty ||
                        myProjectInfoForm.surface.touched)}">
                    <div *ngIf=" myProjectInfoForm.surface.errors  && (myProjectInfoForm.surface.dirty ||
                myProjectInfoForm.surface.touched)" class="invalid-feedback">
                        <div *ngIf="myProjectInfoForm.surface.errors?.required">La surface est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="displayStepFour" @inOutAnimation>
        <div>
            <div class="title d-flex justify-content-center">
                À combien s'élève le revenu total de votre foyer fiscal ?
            </div>
            <div class=" label-colord-flex justify-content-center text-center">
                Le revenu fiscal de référence est utilisé pour calculer le montant de vos aides au plus juste.
            </div>
        </div>


        <div class="grid justify-content-center mt-2">
            <div class="col-8">
                <div class="field">
                    <label for="revenu" class="input-title">Revenu fiscal de référence</label>
                    <input id="revenu" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="revenu" placeholder="Le revenu entre 10K et 100k"
                        (change)="changeRevenuValue($event)" [ngClass]="{ 'is-invalid': submitted || myProjectInfoForm.revenu.errors && (myProjectInfoForm.revenu.dirty ||
                            myProjectInfoForm.revenu.touched)}">
                    <div *ngIf=" submitted || myProjectInfoForm.revenu.errors  && (myProjectInfoForm.revenu.dirty ||
                myProjectInfoForm.revenu.touched)" class="invalid-feedback">
                        <div *ngIf="myProjectInfoForm.revenu.errors?.required">Le revenu fiscal de référence  est obligatoire</div>
                        <div *ngIf="submitted"> Le Revenu fiscal de référence doit être comprise entre entre 10K et 100k
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>