<form [formGroup]="personalInfoForm" autocomplete="off">
    <div class="container" *ngIf="!display" @inOutPaneAnimation>
        <div class="title d-flex justify-content-center">
            <label>
                Comment vous appelez-vous ?
            </label>
        </div>

        <div class=" grid btn-group w-100 justify-content-center" role="group"
            aria-label="Basic radio toggle button group">
            <div class="col-4 d-flex  justify-content-end">
                <input type="radio" class="btn-check" id="btnradio1" autocomplete="off" value="monsieur"
                    formControlName="civility" name="civility" checked>
                <label class="btn w-75" for="btnradio1">Monsieur</label>
            </div>
            <div class="col-4 d-flex  justify-content-start">
                <input type="radio" class="btn-check" id="btnradio2" autocomplete="off" value="madame"
                    formControlName="civility" name="civility">
                <label class="btn ml-2 w-75" for="btnradio2">Madame</label>
            </div>
        </div>

        <div class="grid justify-content-center">
            <div class="col-4">
                <div class="field">
                    <label for="firstname" class="input-title">Prénom</label><br />
                    <input id="firstname" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="firstName" [ngClass]="{ 'is-invalid': myPersonalInfoForm.firstName.errors && (myPersonalInfoForm.firstName.dirty ||
                        myPersonalInfoForm.firstName.touched)}">
                    <div *ngIf=" myPersonalInfoForm.firstName?.errors && (myPersonalInfoForm.firstName.dirty ||
                    myPersonalInfoForm.firstName.touched)" class="invalid-feedback">
                        <div *ngIf="myPersonalInfoForm.firstName.errors?.required">Le champ prénom est obligatoire</div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="field">
                    <label for="lastname" class="input-title">Lastname</label>
                    <input id="lastname" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none  w-full"
                        formControlName="lastName" [ngClass]="{ 'is-invalid': myPersonalInfoForm.lastName.errors &&  (myPersonalInfoForm.lastName.dirty ||
                        myPersonalInfoForm.lastName.touched) }">
                    <div *ngIf=" myPersonalInfoForm.lastName.errors  && (myPersonalInfoForm.lastName.dirty ||
                    myPersonalInfoForm.lastName.touched)" class="invalid-feedback">
                        <div *ngIf="myPersonalInfoForm.lastName.errors?.required">Le champ Nom est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="display" @inOutPaneAnimation>
        <div>
            <div class="title d-flex justify-content-center">
                Quel est votre adresse mail et votre numéro de téléphone ?
            </div>
            <div class=" label-color  d-flex justify-content-center text-center">
                Vous bénéficierez de notre service d’assistance téléphonique <br />
                et serez rappelé gratuitement afin de vous accompagner dans votre projet.
            </div>
        </div>

        <div class="grid mt-6 justify-content-center">
            <div class="col-4">
                <div class="field">
                    <label for="email" class="input-title">Email</label>
                    <input id="email" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="email"  [ngClass]="{ 'is-invalid': myPersonalInfoForm.email.errors  && (myPersonalInfoForm.email.dirty ||
                        myPersonalInfoForm.email.touched) }">
                    <div *ngIf=" myPersonalInfoForm.email.errors && (myPersonalInfoForm.email.dirty ||
                    myPersonalInfoForm.email.touched) " class="invalid-feedback">
                        <div *ngIf="myPersonalInfoForm.email.errors?.required">L'adresse E-Mail est obligatoire</div>
                        <div *ngIf="myPersonalInfoForm.email.errors.email" class="text-justify">L'adresse E-Mail n'est pas valide</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="tel" class="input-title">Télephone</label>
                    <input id="tel" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="tel" [ngClass]="{ 'is-invalid': myPersonalInfoForm.tel.errors && (myPersonalInfoForm.tel.dirty ||
                        myPersonalInfoForm.tel.touched)  }">
                    <div *ngIf=" myPersonalInfoForm.tel.errors && (myPersonalInfoForm.tel.dirty ||
                    myPersonalInfoForm.tel.touched) " class="invalid-feedback">
                        <div *ngIf="myPersonalInfoForm.tel.errors?.required">Le numéro Téléphone est obligatoire</div>
                        <div *ngIf="myPersonalInfoForm.tel.errors.pattern">Le numéro de téléphone n'est pas valide</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>