:host {
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #003250;
        font-weight: 700;
        background: #fff;
        box-shadow: 0 4px 20px #0032501a;
        border-radius: 4px;
        overflow: hidden;
        margin: 6px 0;
        border: solid 2px #fff;
        height: 48px;
        
    }

    .btn-check {
        &:checked {
            +.btn {
                border: 2px solid #003250;
                background-color: white;
            }
        }
    }
    .is-invalid{
        border: 1px solid #dc3545 !important;
    }

  /*   .title{
        font-size: 24px;
        margin: 20px 0;
    } */

}