:host {
    .status-navbar {
        color: #e5eaed;

        &::before {
            position: absolute;
            display: block;
            content: "";
            height: 100%;
            min-height: 40px;
            width: 8px;
            background-color: #e5eaed;
            border-radius: 4px;
        }

        &.check-step::before {
            background-color: #74ffa7;
        }

        &.check-step {
            color: #003250;
        }

        .status-bar-desc {
            margin-left: 16px;
            padding: 8px 0;
            .title-bar,
            .desc {
                font-size: 16px;
                line-height: 18px;
                letter-spacing: .4px;
                font-family: 'Times New Roman', serif;;
            }

            .title-bar {
                font-family: gilroyblack, Helvetica, Arial, sans-serif;
                font-weight: 600;
            }
        }
    }
}