<div class="container p-4">
    <div class="navbar mt-4" *ngFor="let element of navBarList">
        <div class="status-navbar" [ngClass]="{ 'check-step':  element.status}"  >
          <div class="status-bar-desc">
            <div class="title-bar mb-2 mt-2">{{element.titre}}</div>
            <div class="desc" *ngIf="element.status">{{element.description}}</div>
          </div>
        </div>
      </div>
  </div>
