<div class="grid flex justify-content-center flex-wrap m-6">
    <div class="col-12 flex flex-column align-items-center justify-content-center">
        <div class="bloc-title">
            <h1 class="text-center non-elegible-title">Désolé, nous ne sommes pas en mesure de vous accompagner
                <br />dans votre projet de
                travaux…
            </h1>
            <p-card styleClass="pt-2 m-6">
                <div class="container m-0 p-0">
                    <div class="row">
                        <div class="col-5 p-0">
                            <img src="assets/images/non-elegible.PNG" class="rounded mx-auto d-block" alt="...">
                        </div>
                        <div class="col-sm m-4">
                            <div>
                                <h2 class="non-elegible-title title">Mais nous pouvons peut-être vous renseigner !</h2>
                                <span class="non-elegible-title title sub-title">Retrouvez nos articles pour vous guider
                                    dans votre projet de rénovation énergétique.</span>
                                <ul class="
                                  list-group
                                  p-0
                                  mt-4
                                 
                                ">
                                    <li class="list-group-item p-0 border-0 ">

                                        <a href="javascript:void(0)" class="
                                      
                                      cursor-pointer
                                    ">
                                            <span class="
                                        
                                      
                                      ">
                                                <i class="pi pi-arrow-right"></i> Comment obtenir MaPrimeRenov'
                                            </span>
                                        </a>
                                    </li>

                                    <li class="list-group-item p-0 border-0 mt-4">

                                        <a href="javascript:void(0)" class="
                                      cursor-pointer
                                    ">
                                            <span class="
                                      ">
                                                <i class="pi pi-arrow-right"></i> Recevoir son chèque énergie
                                            </span>
                                        </a>
                                    </li>


                                    <li class="list-group-item p-0 border-0 mt-4">

                                        <a href="javascript:void(0)" class="
                                      
                                      cursor-pointer
                                    ">
                                            <span class="
                                        
                                      
                                      ">
                                                <i class="pi pi-arrow-right"></i> Les conseils pour réduire sa facture
                                                de chauffage
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="col mt-4">
                                    <p-button label=" Découvrir le magazine de la rénovation "
                                        styleClass="btn mt-4 border-0 font-bold text-uppercase"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </p-card>
        </div>
    </div>
</div>