:host {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: .8px;

    ::ng-deep {
        .p-card {
            border-radius: 16px;
            background-color: #fff;
            box-shadow: 0 4px 20px #0032501a;
            padding: 0 !important;

            .p-card-body {
                padding: 0;
                .p-card-content {
                    padding: 0;
                    .rounded {
                        width: 100%;
                    }
                    .list-group-item {
                        a {
                            font-size: 15px;
                            font-family: gilroymedium, Helvetica, Arial, sans-serif;
                            color: #003250;
                            line-height: 1.5;
                            letter-spacing: .32px;
                            text-decoration: none;

                            .pi {
                                font-size: 13px;

                            }

                            &:hover {
                                color: #00a8a5;
                            }
                        }
                    }
                    .p-button {
                        background: linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
                        color: #fff;
                        border-radius: 32px;
                        height: 60px;
                        &:hover{
                            box-shadow: 0 10px 12px #00000040;
                        }
                    }

                }
            }
        }
    }

    .non-elegible-title {
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: .8px;
        color: #003250;
        font-weight: 600;
        font-family: gilroybold, Helvetica, Arial, sans-serif;

        &.title {
            text-align: left;
            font-size: 25px;
            line-height: 1.15;
            letter-spacing: .7px;

            &.sub-title {
                font-size: 18px;
                letter-spacing: .45px;
                line-height: 1.3;
                font-family: 'Times New Roman', serif;
                font-weight: 500;
            }
        }
    }
}