<div class="main-container  pt-0">
    <app-header></app-header>
    <div class="page-content pt-0 pb-0  ">
        <div class="row content">
            <div class="col-3 bg-white" *ngIf="!locationPath">
                <app-side-bar [stepName]="stepName"></app-side-bar>
            </div>
            <div class="col steps-content p-4">
                <div class="row  content-right">
                    <div class="col-12" *ngIf="!locationPath">
                        <shared-button [btnUsed]="'btnRetour'" [stepName]="stepName" [subStepName]="subStepName"
                            (displayStep)="displayStep($event)" ></shared-button>
                    </div>
                    <div class="col-12">
                        <router-outlet (activate)="onActivate($event)"></router-outlet>
                    </div>
                    <div class="col-12 d-flex justify-content-center" *ngIf="!locationPath">
                        <shared-button [btnUsed]="'btnContinuer'" [formValidate]="formValidate" [stepName]="stepName"
                            [subStepName]="subStepName" (displayStep)="displayStep($event)"></shared-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>