body {
    background: white;
    /* scrollbar */
    ::-webkit-scrollbar {
        background-color: #fff;
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    .input-title{
        font-size: 16px;
        color: #003250;
        font-weight: 700;
    }
    .title{
        font-size: 24px;
        margin: 20px 0;
        font-weight: 700;
        color: #003250;
    }
    .label-color{
        color: #003250;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
}