<div class="container">
  <div class="row" *ngIf="stepName === 'STEPONE' ">
    <div class="col">
      <step-one-personal-information [stepName]="stepName"
        (validateForm)="verifyForm($event)" [display]="display" [stepOneValue]="stepValue"></step-one-personal-information>
    </div>
  </div>

  <div class="row" *ngIf="stepName === 'STEPTWO'">
    <div class="col">
      <step-two-project-information [stepName]="stepName"
        (validateForm)="verifyForm($event)" [displayStepOne]="displayStepOne" [displayStepTwo]="displayStepTwo"  [displayStepThree]="displayStepThree"  [displayStepFour]="displayStepFour"  ></step-two-project-information>
    </div>
  </div>

  <div class="row flex justify-content-center flex-wrap" *ngIf="stepName === 'STEPTHREE'">
    <div class="grid flex justify-content-center flex-wrap m-6">
      <div class="col-12 flex flex-column align-items-center justify-content-center">
        <div class="bloc-title text-center">
          <h1 class="text-center elegible-title">Merci {{ stepValue.civility | titlecase }} {{ stepValue.firstName | uppercase
            }} {{ stepValue.lastName | uppercase }}
          </h1>
          <h1 class="elegible-title title sub-title text-center">Félicitations pour son éligibilité à notre programme <br/> d’aides et d’accompagnement  
           </h1>
           <span class="elegible-title title sub-title text-center">Le montant d'aide est {{calculateAmountOfAid}}</span>
        </div>
      </div>
    </div>
  </div>
</div>