:host{
    .elegible-title {
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: .8px;
        color: #003250;
        font-weight: 600;
        font-family: gilroybold, Helvetica, Arial, sans-serif;

        &.title {
            text-align: left;
            font-size: 25px;
            line-height: 1.15;
            letter-spacing: .7px;

            &.sub-title {
                font-size: 30px;
                letter-spacing: .45px;
                line-height: 1.3;
                font-family: 'Times New Roman', serif;
                font-weight: 500;
            }
        }
    }
}